@font-face {
  font-family: "Raleway-Thin";
  src: url("../fonts/Raleway-Thin.ttf");
  format("truetype");
}

@font-face {
  font-family: "Raleway-Semibold";
  src: url("../fonts/Raleway-Semibold.ttf");
  format("truetype");
}

div {
  font-family: "Raleway-Thin", sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Raleway-Semibold", sans-serif;
}

nav {
  background-color: transparent;
  text-align: right;
  float: right;
  padding-right: 20px;
}

header {
   text-align: center;
   background-color: #205f65;
   color: white;
 }

.mainForm, .resultsForm {
  text-align:center;
  justify-content: center;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.resultsForm {
  display: none;
}

#map (
  height: 40%;
  width: 40%
  )

.mapPane {
}

#newLocName {
  display: inline-block;
  display: none;
}


.inputMain, main, html {
  background-color: #318F98
}

#leavingHours {
  float: left
}


.packingList {
  /*float: left;*/ XXX
  /*align-items: flex-start;*/
  flex-flow: row;
}

#trafficDelay {
  color: red
}

form {
  background-color: #51f0ff
}

footer {
  background-color: #205f65;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: flex-end;
  color: white;
}

footer a {
  color: white;
}

.extraOptions {
  display: inline-block;
  display:none;
}

.savedLocations {
  display: inline-block;
  display:none;
}

.btn-lg {
  background-color: #205f65
  color: white;
}

.openSettings {
  background-color: #51f0ff
  color: white;
}

.modal {
  position: absolute;
  margin-top: 100px;
  border-radius: 20px;

}

a {
  color: black
}

.footer2 {
  display: none;
}

html {
  background-image: url('../images/pic2.jpg');
  background-size: 100%;
  /*background-color: black;*/
}
