@font-face {
  font-family: "Raleway-Thin";
  src: url("../fonts/Raleway-Thin.ttf");
  format("truetype");
}

@font-face {
  font-family: "Raleway-Semibold";
  src: url("../fonts/Raleway-Semibold.ttf");
  format("truetype");
}

div {
  font-family: "Raleway-Thin", sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Raleway-Semibold", sans-serif;
}

nav {
  background-color: transparent;
  text-align: right;
  float: right;
  padding-right: 20px;
}

 header {
   text-align: center;

 }

.mainForm, .resultsForm {
  text-align:center;
  justify-content: center;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#map (
  height: 40%;
  width: 40%
  )

.mapPane {
}

#newLocName {
  display: inline-block;
  display: none;
}


.inputMain, main, html {
  background-color: #e8b77b
}

#leavingHours {
  float: left
}

.resultsForm {
  text-align: center;
}

.packingList {
  /*float: left;*/ XXX
  /*align-items: flex-start;*/
  flex-flow: row;
}

#trafficDelay {
  color: red
}

form {
  background-color: #87d1ff
}

footer {
  background-color: #aa7be8;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: flex-end;
}

.extraOptions {
  display: inline-block;
  display:none;
}

.savedLocations {
  display: inline-block;
  display:none;
}

.btn-lg {
  background-color: #aa7be8
}

a {
  color: black
}
